@using Microsoft.AspNetCore.Http
@model Views_Perfil_Index
@{
    ViewData["Title"] = "Perfil";
}
<head>
    <link rel="stylesheet" href="~/css/Perfil_CSS.css" />
</head>
<body>
    <section class="container DadosPerfil">
        <img src="../images/Usuarios/@ViewBag.FotoDePerfil" class="FotoDePerfil" width="152" height="154" alt="Foto de perfil">
        <div class="DadosPerfilDireita">
            <h1>@ViewBag.Perfil.NomeDeUsuario</h1>
            <div class="PublicacaoSeguindoSeguidores">
                <span>X publicações</span>
                <span>Y seguindo</span>
                <span>Z seguidores</span>
            </div>
            <div class="NomeSair">
                <span>@ViewBag.Perfil.Nome</span>
                <a asp-area="" asp-controller="EditarPerfil" asp-action="Index">Editar Perfil</a>
                <a asp-area="" asp-controller="Perfil" asp-action="Sair">Sair</a>
            </div>
        </div>
    </section>
    <section class="container PostsPerfil">
        <div class="Publicações">
            <img src="/Img/image 1.png" alt="Ícone publicações" width="16px" height="14px">
            <span>publicações</span>
        </div>
        <div class="PostsUsuario">
            @foreach (Post p in ViewBag.post)
            {
                if (p.IDUsuario == ViewBag.Perfil.IdUsuario)
                {
                    <div class="Postagem">
                        <img src="../images/Posts/@p.Imagem" alt="Foto do post" width="430px" height="404px">
                        <div class="DadosDaPostagem">
                            <div class="DadosCurtidas">
                                <div class="DadosPerfilPost">
                                    <img src="/Img/@ViewBag.Perfil.ImagemDePerfil" alt="Foto de perfil">
                                    <!-- Na foto é necessário a foto de perfil do usuario logado -->
                            <div class="NomeLocal">
                                        <h1>@ViewBag.Perfil.Nome</h1>
                                        <!-- No nome é necessário o nome perfil do usuario logado -->
                                <h2>Virtualmente estou aqui, no Instadev!</h2>
                                    </div>
                                </div>
                                <div>
                                    <div class="CurtirComentar">
                                        <img src="/Img/Vector1.png" alt="Curtir">
                                        <img src="/Img/Vector (3).png" alt="Comentar">
                                    </div>
                                    <span class="NumeroCurtidas">X Curtidas</span>
                                </div>
                            </div>
                            <section class="Comentarios">
                                <div class="CadaComentario">
                                    <div class="UserComentario">
                                        <span>@ViewBag.Perfil.NomeDeUsuario</span>
                                        <p>@p.Legenda</p>
                                    </div>
                                    <img src="/Img/Vector1.png" alt="Curtir comentário">
                                </div>
                                 @foreach (Comentario C in ViewBag.comentarios)
                                    { 
                                        if (p.IDPost.ToString() == C.IDPost.ToString())
                                        {
                                            <div class="UserComentario">
                                                @foreach (Usuario item in ViewBag.Usuarios)
                                                {
                                                   if (item.IdUsuario.ToString() == C.IDUsuario.ToString())
                                                   {       
                                                    <span>@item.NomeDeUsuario</span>
                                                   } 
                                                }
                                                <p>@C.TextoComentario</p>
                                            </div>
                                        }
                                    } 
                            </section>
                            <span class="VerComentarios">Ver todos os comentários</span>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
</body>